* {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
	padding: 20px 60px;
	color: #ffffff;
	background: black;
}
input {
	color: rgb(112, 111, 111);
	font-size: 1.2rem;
	width: 90%;
	background: #eee;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid grey;
}

.card {
	display: grid;
	justify-items: center;
	border: 1px solid grey;
	border-radius: 6px;
	margin: 0 10px 10px 0;
	overflow: hidden;
}

.card p {
	padding: 5px;
	text-align: center;
}

.card img {
	max-height: 170px;
}

.card-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 100px;
}

h2 {
	font-size: 3rem;
	margin: 10px;
}

h3 {
	font-size: 2rem;
}

form {
	display: flex;
	justify-content: center;
}
